@tailwind base;
@tailwind components;
@tailwind utilities;
@supports not (overflow-wrap: anywhere) {
    .break-anywhere {
        word-break: break-word;
    }
}

@supports (overflow-wrap: anywhere) {
    .break-anywhere {
        overflow-wrap: anywhere;
    }
}

:root {
    --foreground-rgb: 51, 65, 85;
    --inverse-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --inverse-rgb: 63, 63, 70;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    @apply min-h-full;
}

#__next {
    @apply flex min-h-full flex-col;
}

body {
    position: relative;
    overflow: auto;
    padding: 1rem;
}

body {
    color: rgb(var(--foreground-rgb));
    @apply dark:bg-zinc-800;
}

.text-limited {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}
.text-limited-1 {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

.display-box-vertical {
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 2rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #494949;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(63, 63, 63);
}
